/* reset.css */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 结构样式 */
html{font-size: 10px}
body{font-size: 1.6rem}
body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,input,select,form,hr{margin: 0;padding: 0;}

/* 默认项目图标 */
ul{list-style: none}
em{font-style: normal}
a{text-decoration: none;color: black}
img{border: none}

/* 清除margin-top塌陷 清除浮动 */
.clearfix::before,.clearfix::after{content: "";display: table;}
.clearfix::after{clear: both}
.clearfix{zoom: 1}
.fl{float: left}
.fr{float: right;}
